<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <h3>GESTIÓN DE BITÁCORAS ACADÉMICAS</h3>
                </div>
            </div>
        </div>
    </div>
    <h3></h3>
    <button type="button" *ngIf="!isLogin" class="col-lg-4 offset-lg-4" (click)="login()">INICIAR SESIÓN</button>
    <!-- <app-facultad *ngIf="visibleF"></app-facultad> -->
    <div *ngIf="isLogin" class="row mt-4">
        <button type="button" class="col-lg-4 offset-lg-4" routerLink="/registrar_facultad">Crear Facultad</button>
        <button type="button" class="col-lg-4 offset-lg-4" routerLink="/registrar_proyecto">Crear Proyecto curricular</button>
        <button type="button" class="col-lg-4 offset-lg-4" routerLink="/registrar_materia">Crear Materia</button>
        <button type="button" class="col-lg-4 offset-lg-4" routerLink="/registrar_clase">Registrar Clase</button>
        <button type="button" class="col-lg-4 offset-lg-4" routerLink="/generar_bitacora">Generar Bitácora</button>
    </div>
</div>
<div id="g_id_onload"
     data-client_id="28332543331-tekrfvbp0lqkve1femo42dbai5gikk37.apps.googleusercontent.com"
     data-context="use"
     data-ux_mode="popup"
     data-callback="login"
     data-auto_prompt="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="rectangular"
     data-theme="outline"
     data-text="$ {button.text}"
     data-size="large"
     data-logo_alignment="left">
</div>