    <main>
        <header>
            <section class="textos-header">
                <h1>PROTOTIPO DE HERRAMIENTA PARA LA CREACIÓN Y GESTIÓN DE BITÁCORAS ACADÉMICAS BASADA EN APIS DE GOOGLE</h1>
                <h2></h2>
            </section>
            <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
                    style="height: 100%; width: 100%;">
                    <path d="M0.00,49.98 C150.00,150.00 349.20,-50.00 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                        style="stroke: none; fill: #f2f2f2;"></path>
                </svg></div>
        </header>
        <section class="menu">
            <div class="contenedor">
                <h2 class="titulo" style="margin-bottom: 20px;">Menú</h2>
                <div style="text-align: center; margin-bottom: 20px;">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary"
                        style="border-radius: 20px; opacity: 70%; cursor: alias; font-size: 18px; text-decoration: underline; border-color: black;"
                        data-toggle="modal" data-target=".bd-example-modal-lg" id="modal">Información</button>
                </div>
                <div class="galeria-port">
                    <div class=" card imagen-port" style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">
                        <img src="./assets/imgs/facultad.jpg" alt="">
                        <div class="hover-galeria" style="height: 66%;">
                            <img style="padding-top: 30px;" src="./assets/imgs/facultad-hover.png" alt=""
                                routerLink="/registrar_facultad">
                        </div>
                        <p style="text-align: center; color: #4d0686; cursor: pointer;"
                            routerLink="/registrar_facultad"><b> Registrar
                                Facultad </b></p>
                    </div>
                    <div class="card imagen-port" style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">
                        <img src="./assets/imgs/proyecto.jpg" alt="">
                        <div class="hover-galeria" style="height: 66%;">
                            <img style="padding-top: 30px;" src="./assets/imgs/proyecto-hover.png" alt="" routerLink="/registrar_proyecto">
                        </div>
                        <p style="text-align: center; color: #4d0686; cursor: pointer;"
                            routerLink="/registrar_proyecto"><b>Registrar Proyecto</b></p>
                    </div>
                    <div class="card imagen-port" style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">
                        <img src="./assets/imgs/materia.jpg" alt="">
                        <div class="hover-galeria" style="height: 66%;">
                            <img style="padding-top: 30px;" src="./assets/imgs/materia-hover.png" alt="" routerLink="/registrar_materia">
                        </div>
                        <p style="text-align: center; color: #4d0686; cursor: pointer;"
                            routerLink="/registrar_materia"><b>Registrar Asignatura</b></p>
                    </div>
                    <div class="card imagen-port" style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">
                        <img src="./assets/imgs/clase.jpg" alt="">
                        <div class="hover-galeria" style="height: 66%;">
                            <img style="padding-top: 30px;" src="./assets/imgs/clase-hover.png" alt="" routerLink="/registrar_clase">
                        </div>
                        <p style="text-align: center; color: #4d0686; cursor: pointer;"
                            routerLink="/registrar_clase"><b>Registrar Clase</b></p>
                    </div>
                    <div class="card imagen-port" style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">
                        <img src="./assets/imgs/informe.jpg" alt="">
                        <div class="hover-galeria" style="height: 66%;">
                            <img style="padding-top: 30px;" src="./assets/imgs/informe-hover.png" alt="" routerLink="/generar_bitacora">
                        </div>
                        <p style="text-align: center; color: #4d0686; cursor: pointer;"
                            routerLink="/registrar_materia"><b>Generar Bitácora</b></p>
                    </div>
                </div>
                <div class="centrar-general">
                    <button class="button4" (click)="logOut()" style=" border-color: black;">
                        Cerrar Sesión
                    </button>
                </div>
            </div>
        </section>
        <!-- Modal -->
        <script type="text/javascript">
            $(function () {
                $('#Mymodal').modal('show');
            })
        </script>
        <div class="modal fade bd-example-modal-lg" id="Mymodal" tabindex="-1" role="dialog"
            aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <section class="contenedor sobre-nosotros">
                        <h2 class="titulo">Menú</h2>
                        <div class="contenedor-sobre-nosotros">
                            <img src="./assets/imgs/ilustracion2.svg" alt="" class="imagen-about-us">
                            <div class="contenido-textos">
                                <h3><span>1</span>Resumen</h3>
                                <p>La siguiente herramienta busca simplificar el proceso de generacion de informes
                                    academicos como un material de soporte e historicos de las clases impartidas por un
                                    docente.</p>
                                <h3><span>2</span>Guía rápida</h3>
                                <p>Por medio de las siguientes opciones se le permitira a un docente, mantener
                                    constancia y registro de las clases impartidas y las actividades realizadas junto
                                    con la generacion de un documento que lo respalde el cual estara almacenado en su
                                    Google drive asociado a su correo institucional.</p>
                            </div>
                        </div>
                    </section>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
