<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center" style="text-align: center;">
                    <h3 class="titulo">CREAR FACULTAD</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <form [formGroup]="form" (ngSubmit)="creaCarpeta()">
                    <div class="card-body" style="text-align: center;">
                        <h5 class="titulo">NOMBRE DE LA FACULTAD:</h5>
                        <h6>Por favor digite EXCLUSIVAMENTE el nombre de la facultad. Ej: Artes</h6>
                        <input formControlName="facultad" type="text" class="form-control" name="" id="">
                        <h5></h5>
                        <button type="button"  type="submit">SIGUIENTE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

