<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center" style="text-align: center;">
                    <h3 class="titulo">REGISTRAR CLASE</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body" style="text-align: center;">
                    <h5 class="titulo">FACULTAD:</h5>
                    <select>
                        <option>1 </option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <h5 class="titulo">PROYECTO CURRICULAR:</h5>
                    <select>
                        <option>1 </option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <h5 class="titulo">MATERIA:</h5>
                        <select>
                            <option>1 </option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    <h5 class="titulo">PERIODO:</h5>
                    <select>
                        <option>1 </option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <h5 class="titulo">GRUPO:</h5>
                    <select>
                        <option>1 </option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    <h5 class="titulo">FECHA    :</h5>
                    <input type="date" id="start" name="trip-start" value="2022-04-23" min="2022-01-01" max="2025-12-31">
                    <h5 class="titulo">HORARIO:</h5>
                    <div>
                        Inicio: <input>
                        Fin: <input>
                    </div>
                    <h5 class="titulo">DESCRIPCIÓN:</h5>
                    <textarea name="" id="" cols="40" rows="10"></textarea>
                    <h5 class="titulo">HERRAMIENTAS:</h5>
                    <div>
                        <textarea name="" id="" cols="30" rows="5"></textarea>
                        <button>ANEXOS</button>
                    </div>
                    <button>REGISTRAR</button>
                </div>
            </div>
        </div>
    </div>
</div>
