<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center" style="text-align: center;">
                    <h3 class="titulo">GENERACIÓN DE BITÁCORA</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body" style="text-align: center;">
                    <h5 class="titulo">NOMBRE COMPLETO:</h5>
                    <input type="text" name="" id="">
                    <h5 class="titulo">PERIODO DE INFORME:</h5>
                    <input type="text" name="" id="">
                    <h5></h5>
                    <div>
                        Inicio Periodo: <input>
                        Fin Periodo: <input>
                    </div>
                    <h5 class="titulo">FACULTAD:</h5>
                    <input type="text" name="" id="">
                    <h5 class="titulo">PROYECTO CURRICULAR:</h5>
                    <input type="text" name="" id="">
                    <div>
                        <h5 class="titulo">MATERIA:</h5>
                        <select>
                            <option>1 </option>
                            <option>2</option>
                            <option>3</option>
                        </select>
                    <h5 class="titulo">GRUPO:</h5>
                    <select>
                        <option>1 </option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                    </div>
                    <h5></h5>
                    <button type="button">GENERAR</button>
                </div>
            </div>
        </div>
    </div>

</div>