<main>
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" (click)="navMenu()">
      <img width="35" height="30" class="d-inline-block align-text-top" src="./assets/imgs/navbar.png" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="text-align: left;">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="navFacultad()" style="cursor: pointer;">Registrar Facultad</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" (click)="navProyecto()" style="cursor: pointer;">Registrar
            Proyecto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navMateria()" style="cursor: pointer;">Registrar Asignatura</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navClase()" style="cursor: pointer;">Registrar Clase</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="navBitacora()" style="cursor: pointer;">Generar Bitacora</a>
        </li>
      </ul>
    </div>
  </nav>
  <section class="menu">
    <div class="contenedor">
      <h2 class="titulo" style="margin-bottom: 20px;">Registrar Proyecto Curricular</h2>
      <div style="text-align: center; margin-bottom: 20px;">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary"
          style="border-radius: 20px; opacity: 70%; cursor: alias; font-size: 18px; text-decoration: underline; border-color: black;"
          data-toggle="modal" data-target=".bd-example-modal-lg" id="modal">Información</button>
      </div>
      <div class="formulario">
        <form [formGroup]="form" (ngSubmit)="creaCarpeta()" class="needs-validation" novalidate>
          <div class="card-body" style="text-align: center;">
            <h5 class="titulo-forms" for="validationCustom01">Facultad</h5>
            <select id="validationCustom01" class="custom-select" (change)='onSelect(val.value)' #val required>
              <option value="">--Seleccione Facultad--</option>
              <option *ngFor="let file of files; let i= index" [value]="files[i].id">{{files[i].name}}
              </option>
            </select>
            <div class="invalid-feedback">
              {{alertaFormulario}}
            </div>
            <br>
            <br>
            <h5 for="validationCustom02" class="titulo-forms">Nombre del Proyecto Curricular</h5>
            <input class="form-control" placeholder="Proyecto" type="text" id="validationCustom02"
              formControlName="proyecto" required>
            <div class="invalid-feedback">
              {{alertaFormulario}}
            </div>
            <br>
            <br>
            <div style=" padding-top: 10px;">
              <button class="button4" style=" border-color: black;">SIGUIENTE</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
  <!-- Modal -->
  <div class="modal fade bd-example-modal-lg" id="Mymodal" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <section class="contenedor sobre-nosotros">
          <h2 class="titulo">Registrar Proyecto Curricular</h2>
          <div class="contenedor-sobre-nosotros">
            <img src="./assets/imgs/ilustracion2.svg" alt="" class="imagen-about-us">
            <div class="contenido-textos">
              <h3><span>1</span>Resumen</h3>
              <p>Por medio de la siguiente pantalla es posible realizar el registro de un proyecto
                curricular (Crea un directorio con el nombre asigando al proyecto curricular)
                enlazandolo con la facultad correspondiente en la cual se imparte.</p>
              <h3><span>2</span>Guía rápida</h3>
              <p>1. Seleccione la Facultad a la que pertenece el proyecto curricular a agregar<br>
                2. Ingrese el nombre del Proyecto curricular.</p>
            </div>
          </div>
        </section>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</main>