<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prototipo | Bitacoras Clases</title>
    <link rel="shortcut icon" href="./assets/imgs/logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet"> 
</head>

<router-outlet></router-outlet>
<footer>
    <div class="contenedor-footer">
        <div class="content-foo">
            <h4>Información</h4>
            <p>Prototipo de Herramienta para la Creación y Gestión  
            <br>de Bitácoras Académicas Basada en APIs de Google</p>
            <p>Version 1.0.0</p>
        </div>
        <div class="content-foo">
            <h4>Contacto</h4>
            <p>Brian Orlando Rodriguez Velandia</p>
            <p>borodriguezv@correo.udistrital.edu.co</p>
            <p>Julian Camilo Benavides Gamboa</p>
            <p>jucabenavidesg@correo.udistrital.edu.co</p>
        </div>
    </div>
    <h2 class="titulo-final">&copy; Brian Rodriguez & Julian Benavides© 2022. All rights reserved</h2>
</footer>