<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Meta etiquetas description / 70 a 320 caracteres -->
  <meta name="description"
    content="Ventana de Registro de clases">
  <!--Meta kw / 18 -->
  <meta name="keywords"
    content=" Registro de clases">


  <!-- protocolo open graph-->
  <meta property="og:title" content="Prototipo | Bitacoras Clases">
  <meta property="og:url" content="">
  <meta property="og:image" content="https://i.ibb.co/MCPQG9w/banner1.png">
  <meta property="og:description"
    content="PROTOTIPO DE HERRAMIENTA PARA LA CREACION Y GESTION DE BITACORAS ACADEMICAS BASADA EN APIS DE GOOGLE">



  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300&display=swap" rel="stylesheet">

  <!-- Bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


  <!-- CSS -->
  <link rel="stylesheet" href="../../css/style.css">



  <title>Prototipo | Bitacoras Clases</title>
</head>

<body>
  <!-- Header  con bootstrap-->


  <!--Navbar-->
  <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand titulo-sevenland mb-0 h1" href="#">
        <img src="../../src/multimedia/imgs/logo.png" alt="" width="30" height="30"
          class="d-inline-block align-text-top" />
        Bitacoras
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="item-nav">
            <a class="link-nav" aria-current="page" href="../../index.html">Inicio</a>
          </li>
          <li class="item-nav">
            <a class="link-nav" href="#contacto">Añadir Facultad</a>
          </li>
          <li class="item-nav">
            <a class="link-nav" href="#contacto">Añadir Proyecto</a>
          </li>
          <li class="item-nav">
            <a class="link-nav" href="#contacto">Crear Materia</a>
          </li>
          <li class="item-nav">
            <a class="link-nav" href="#contacto">Registrar Clase</a>
          </li>
          <li class="item-nav">
            <a class="link-nav" href="#contacto">Generar Bitacora</a>
          </li>
        </ul>
        <div class="d-flex">
          <a class="navbar-brand mb-0 h1 icon-cart" href="cart.html">
            <span id="cartCounter" class="badge bg-danger"></span>
            <img src="../multimedia/imgs/exit.png" alt="" width="30" height="30" class="d-inline-block align-text-top" />
          </a>
        </div>
      </div>
    </div>
  </nav>



  <section class="container form-login">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 form-info">
          <h1>Registro de clase</h1>
          <div class="form-group">
            <label>Nombre Docente:</label>
            <input type="text" name="nombre docente" placeholder="Escriba su nombre">
            <label>Periodo de informe:</label>
            <input type="text" name="nombre docente" placeholder="Escriba el Periodo">
            <p></p>
            <div style="display: flex;">
              <div class="col-md-6">
                <label>Fecha inicio</label>
                <input type="date" name="Fecha">
              </div>
              <div class="col-md-6">
                <label>Fecha final</label>
                <input type="date" name="Fecha">
              </div>
              <p></p>
            </div>
            <p></p>
            <label>Facultad</label>
              <select>
                <option>Inge</option>
              </select>
            <label>Proyecto</label>
            <select>
              <option>sistemas</option>
            </select>
            <label>Materia:</label>
            <select name="Materia" id="Materia">
              <option value="materia1">Materia 1</option>
            </select>
            <label>Grupo:</label>
            <select name="Grupo" id="Grupo">
              <option value="grupo1">Grupo 1</option>
            </select>
          </div>
          <div class="d-grid gap-2 col-4 mx-auto bttn">
            <button type="submit" class="btn btn-base">Resgistrar</button>
          </div>
        </div>
      </div>
    </div>
  </section>



  <!-- FOOTER -->

  <footer id="contacto" class="contenedor-footer">

    <div class="container-fluid">
      <div class="row">

        <div class="col-md-6">
          <h2>Información</h2>
          <ul>
            <li>Prototipo herramienta de gestión y creación bitácoras academicas</li>
            <li>Version 0.0.1</li>
          </ul>
        </div>

        <div class="col-md-6">
          <h2>Contacto</h2>
          <ul>
            <li>Bogotá, Colombia</li>
            <li>Brian Orlando Rodriguez Velandia</li>
            <li> +53 300 444 73 47</li>
            <li>Julian Camilo Benavides Gamboa</li>
            <li> +53 314 332 86 74</li>
          </ul>
        </div>
        <hr>
        <div class="col-md-12">
          <p>Brian Rodriguez & Julian Benavides© 2022. All rights reserved</p>
        </div>
      </div>
    </div>

  </footer>
  <!-- Bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
    integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
    integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
    crossorigin="anonymous"></script>
    
  
  <!-- JQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- JavaScript-->
  <script src="../../js/cart.js"></script>
  <script src="../../js/sesion.js"></script>
</body>

</html>