body{
    background: #004c8e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1F1C18, #00218e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1F1C18, #00458e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.titulo{
    font-family: 'Rowdies', cursive;
    text-align: center;
}
